/* reset themes color */
$color: #b0b0b0;
$color-deep: #777c8f;
$color-risk: #929299;
$color-deeper: #6e6e75;
$color-white: #ffffff;

$themes-color: #34c388;
$themes-color-risk: #232d2e;
$themes-color-native: #42d885;
$themes-color-native-deep: #227d51;
$themes-color-waring: #f9c855;
$themes-color-danger: #ff6d6d;
$themes-color-error: #e0b4b4;
