@import 'color';

/* reset themes color */
$--color-success: $themes-color-native;
$--color-primary: $themes-color-native;
$--color-warning: $themes-color-waring;
$--color-danger: $themes-color-danger;
//$--color-text-regular: $color;

/* reset default size */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import '~element-ui/packages/theme-chalk/src/index';

.dark-themes {
  @import 'themes/dark';
}

.light-themes {
  @import 'themes/light';
}

/* reset global style */
@import 'reset';

html,
body,
#app {
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(/static/fonts/Roboto-Light.woff) format('woff'),
    url(/static/fonts/Roboto-Light.ttf) format('truetype');
}

body {
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Work sans', Arial, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 14px;
  font-weight: 400;

  #nprogress {
    .bar {
      background: $themes-color-native;
    }

    .peg {
      box-shadow: 0 0 10px $themes-color-native, 0 0 5px $themes-color-native;
    }
  }
}

* {
  box-sizing: border-box;
}

a {
  color: $themes-color-native;
  text-decoration: none !important;
}

.clear-fix {
  clear: both;
}

::-ms-clear,
::-ms-reveal {
  display: none;
}

/* Every pages title */
.page-title {
  font-size: 24px;
  text-transform: capitalize;
  padding: 30px 0 10px 0 !important;

  .el-select {
    input {
      height: 40px !important;
    }

    float: right;
  }

  .el-breadcrumb {
    margin-top: 2px;
    font-size: 24px;

    .uppercase {
      text-transform: Capitalize;
    }
  }
}

.operation-area {
  margin-top: 20px;

  .el-button {
    &.el-button--text {
      padding-right: 20px;
    }
  }
}

.confirm-btn {
  min-width: 80px;
}

.cache-btn {
  min-width: 80px;
}

input {
  line-height: normal !important;
}

.empty-content {
  width: 100%;
  height: 200px;
  line-height: 200px;
  margin-top: -20px;
  text-align: center;
}

.desc--text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

.el-pagination {
  margin: 20px 0;
  float: right;
}

.el-card {
  &.thin__body {
    .el-card__body {
      padding: 0 20px;
      font-size: 16px;
    }
  }

  .card-header--like {
    padding: 18px 0;
    color: #6e6e75;
  }
}

.status:before {
  content: '';
  display: inline-block;
  height: 8px;
  width: 8px;
  margin-right: 3px;
  border-radius: 4px;
}

.btn {
  cursor: pointer;
  color: $themes-color;
}

.a-line {
  &:hover {
    text-decoration: underline;
  }
}

.blank {
  max-width: 500px;
  width: 100%;
  margin: 100px auto;
  text-align: center;
  height: 200px;

  .icon {
    width: 80px;
    height: 80px;
    margin: 4px auto;
    border: 2px solid #42d885;
    border-radius: 50%;
    font-size: 36px;
    color: #42d885;
    line-height: 80px;
  }
}

.guide-doc {
  text-align: left;
}

.emq-link {
  cursor: pointer;
  color: #42d885;
}

.dialog-preview {
  .option-item {
    margin: 0 auto;
    padding: 6px;
    min-height: 32px;
    line-height: 32px;
    clear: both;
    .option-title {
      width: 48%;
      float: left;
      color: #888;
    }

    .option-value {
      width: 48%;
      float: left;
      color: #000;
    }

    .option-all {
      clear: both;
      width: 100%;

      .option-item {
        padding: 6px 0;
      }
    }
  }
}

/* Status */
.status-circle {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
}
.connected {
  color: $themes-color;
  &.status-circle {
    background: $themes-color;
  }
}
.disconnected {
  color: $themes-color-danger;
  &.status-circle {
    background: $themes-color-danger;
  }
}

.center-align {
  text-align: center;
}
